@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Maven Pro", sans-serif;
}

body {
  max-height: 100vh;
  max-width: 100vh;
  overflow: hidden;
}
